.container{
    max-width: 660px;
    margin: 0 auto;
}

.flexivel{
    display: flex;
}

.azulbb {
    padding: 100px;
    margin: 10px;
    background-color: rgb(129, 149, 241);
    box-sizing: border-box;
}